
header{
    background-color: black;
    color: white;    
}

header h1{
    margin: 5px 10px 10px 20px;
}

.bienvenido{
    background-color:#D6CFCD;     
}

main section h1{
    margin: 20px;
    text-align: start;
}

footer{
    background-color: gray;
    padding: 30px;       
}

footer p{
    color: white;
    text-align: center;
}

main a{
    margin: 20px;  
}

main section h3{
    margin: 15px;
    margin-top: 40px;
    text-align: start;
}

.parrafo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin: 20px;
}

@media screen and (max-width:768px){
main h6{
    text-align: right; 
}
.bienvenido{
    background-color: white; 
    padding: 20px;
}
.parrafo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: justify;
}

main section h1{
    text-align: center;
}

main section h3{
    text-align: center;
}
}